header{display: flex;
    justify-content: space-between;
     background-color: rgb(150, 25, 228) ;
     border-bottom: 10px solid #000;
    padding-left: 8px;
    padding-right: 20px;
    height: 80px;

left: 0px;
top: 0px;
border-radius: 0px;


}
a{  display: inline-flex;
    align-items: center;
    color: aliceblue;
    font-size: 20px;

    font-family: 'Fira Code', Helvetica, sans-serif;
    font-weight: 500px;
    text-decoration: none;
    margin-right: 30px;
    }
    nav{ text-align: right;
        display: flex;}
 a::before{
     content: "";
    background-color: #13B19E;
   
     width: 10px;
     height: 10px;
     margin-right: 10px;

 }   

#button{ 
    display: inline-block;
    background-color: #13B19E;
    box-shadow: 5px 5px 0px #000;
    padding: 20px 30px;
    margin: 10px 19px 10px 10px;
    
    
    
    
    }
     
     img {
        max-width: 100%;
        max-height: 100%;
        height: 60px;
        height: 60px;
width: 60px;

top: 10px;
border-radius: 0px;
margin: 30px 3px 11px;



       }
       .cat {
        
        width: 100px;
        height: 60px;
  display: flex;
  align-items: center }
       



